body{
    margin: auto;
}

header{
    background-color: #7868e6;
    width: 100%;
    height: 63px;
    display: flex;
    align-items: center;
}

nav{
    background-color: #b8b5ff;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    color: #edeef7;
    display: inline-block;
    align-content: center;
    font-family: sans-serif;
    text-decoration: none;
}
a:hover{
    color: #7868e6;
    cursor: pointer;
}

footer{
    margin: auto;
    background-color: #7868e6;
    width: 100%;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

#user{
    margin-left: auto;
    padding-right: 8px;
    padding-bottom: 2px;
    padding-left: 5px;
}

.image{
    margin: auto;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.lottie-file{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 166px);
}

#logo{
    padding-left: 8px;
}

#sobre{
    margin-right: 50px;
}

#git-lucas{
    margin-right: 25px;
}