body{
    background-color: #edeef7;
    margin: auto;   
}

header{
    background-color: #7868e6;
    width: 100%;
    height: 63px;
    display: flex;
    align-items: center;
}

nav{
    background-color: #b8b5ff;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    color: #edeef7;
    display: inline-block;
    align-content: center;
    font-family: sans-serif;
    text-decoration: none;
}

a:hover{
    color: #7868e6;
    cursor: pointer;
}

footer{
    margin: auto;
    background-color: #7868e6;
    width: 100%;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

article{
    justify-content: center;
    align-items: center;
    display: flex;
}

h3{
    font-family: sans-serif;
    color: #edeef7;
}

input[type=text]{
    width: 120px;
    border-radius: 5px;
    border: none;
}

input[type=text]:focus{
    border: 0px;
    border-radius: 0%;
    color: white;
}

label{
    display: block;
    font-family: sans-serif;
    width: 0;
    margin:5px 5px 9px 0px;
}

.container{
    margin-top: 15px;
    width: 15.625rem;
    height: 15.625rem;
    background-color: #b8b5ff;
    border-radius: 4px 4px 4px 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.form-input-material{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.image{
    margin: auto;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.lottie-file{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 166px);
}

.cadastrar{
    margin: 50px 10px auto 145px;
    display: flex;
    align-content: flex-end;
    padding: 5px;
}

.cadastrar:hover{
    color: #edeef7;
    background-color: #7868e6;
    border-radius: 10px;
    transition: .4s;
    border: 0.15;
}

#user{
    margin-left: auto;
    padding-right: 8px;
    padding-bottom: 2px;
    padding-left: 5px;
}


#logo{
    padding-left: 8px;
}

#sobre{
    margin-right: 50px;
}

#git-lucas{
    margin-left: 15px;
    margin-right: 25px;
}
#git-lucas:hover{
    color: #b8b5ff;
}

#git-dup:hover{
    color: #b8b5ff;
}






